.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 100px;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  overflow: hidden;
}

.ant-carousel .slick-slide img {
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 30%;
  height: 400px;
}
.book-detail {
  border: 1px solid #5d5d5d26;
  padding: 30px;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.02),
    0 24px 38px 3px rgba(0, 0, 0, 0.04), 0 11px 15px -7px rgba(0, 0, 0, 0.05);
  border-radius: 0.625rem;
}

.FormField__Button.mr-20 {
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.84rem 2.14rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  background-image: linear-gradient(
    -90deg,
    rgb(234, 72, 150),
    rgb(254, 114, 75)
  );
  color: white;
}
.option-container {
  display: flex;
  flex-direction: row;
}
.room-detail .option {
  display: flex;
  flex-direction: row;
}

.room-detail .option .space {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.room-detail .option .space span {
  font-size: 15px;
  font-weight: 400 !important;
}

.room-detail span {
  font-size: 17px;
  font-weight: 400 !important;
}
